<header class="site-header">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-8 col-12 d-flex flex-wrap">
                <p class="d-flex me-4 mb-0">
                    <i class="bi-geo-alt me-2"></i>
                    1191 Pablo Ocampo Sr. Ext, Makati, Metro Manila
                </p>

                <p class="d-flex mb-0">
                    <i class="bi-envelope me-2"></i>

                    <a href="mailto:info@company.com">
                        registrar@mapua.edu.ph
                    </a>
                </p>
            </div>
        </div>
    </div>
</header>
