<footer class="site-footer">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-4 col-md-6 col-12 mx-auto">
                <h5 class="site-footer-title mb-3">Contact Infomation</h5>

                <p class="text-white d-flex mb-2">
                    <i class="bi-telephone me-2"></i>

                    <a href="tel: 305-240-9671" class="site-footer-link">
                        (02) 8891 0837
                    </a>
                </p>

                <p class="text-white d-flex">
                    <i class="bi-envelope me-2"></i>

                    <a href="mailto:info@yourgmail.com" class="site-footer-link">
                        registrar@mapua.edu.ph
                    </a>
                </p>

                <p class="text-white d-flex mt-3">
                    <i class="bi-geo-alt me-2"></i>
                    1191 Pablo Ocampo Sr. Ext, Makati, Metro Manila
                </p>

                <a href="https://www.google.com/maps/place/1191+Pablo+Ocampo+Sr.+Ext,+Makati,+1205+Metro+Manila/@14.5663819,121.0128756,17z/data=!3m1!4b1!4m5!3m4!1s0x3397c9a0dcf238b1:0x42f749333ef0c316!8m2!3d14.5663819!4d121.0150696" style="color:white">Get Direction</a>
            </div>
        </div>
    </div>

    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                    
                </div>
                
            </div>
        </div>
    </div>
</footer>